# TextMate tutorial: http://manual.macromates.com/en/language_grammars

# Regex to convert keys to unquoted: '(include|match|captures|begin|end|beginCaptures|endCaptures|name|patterns|0|1|2|3|4|5|6|7|8|9|comment|fileTypes|scopeName|repository|contentName|firstLineMatch|foldingStartMarker|foldingStopMarker)':

scopeName: 'source.roll20' # <scope> should be a short, unique indicator for the language ("js", "php", "c", etc.)
name: 'Roll20 templates' # The title that will show up in grammar selection and on your status bar.
fileTypes: [ # An array of file extensions.
  'r20'
]
limitLineLength: false
patterns: [ # An array of individual pattern declarations.
  {
    comment: 'Comment'
    name: 'comment.line.roll20'
    match: '//.*$'
  }
  {
    comment: 'template names'
    match: '\\&{template:([^}]*)}'
    captures:
      0:
        name: 'keyword.other.roll20'
      1:
        name: 'entity.name.section.roll20'
  }
  {
    comment: 'template parameters'
    begin: '{{'
    end: '}}(?!})'
    beginCaptures:
      0: name: 'keyword.other.roll20'
    endCaptures:
      0: name: 'keyword.other.roll20'
    patterns: [
      { include: '#diceRolls' }
      {
        comment: 'ParameterName'
        name: 'entity.name.tag.roll20'
        match: '[a-zA-Z0-9]*='
      }
    ]
  }
  { include: '#diceRolls'}

]
repository:
  diceRolls:   {
      comment: 'dice rolls'
      begin: '\\[\\['
      end: '\\]\\](?!\\])'
      contentName: 'string.quoted.other.roll20'
      beginCaptures:
        0: name: 'string.quoted.other.roll20'
      endCaptures:
        0: name: 'string.quoted.other.roll20'
    }
